# ===================================================
# 🌐 General Build & Dependency Folders
# ===================================================
**/node_modules/
**/dist/
**/build/
**/.local

# ===================================================
# 🔐 Environment Files
# ===================================================
**/.env
!**/.env.example

# ===================================================
# 📝 Log Files
# ===================================================
**/logs/
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===================================================
# 📦 Package Managers & Caches
# ===================================================
.npm/
package-lock.json
yarn.lock
pnpm-lock.yaml

# ===================================================
# 🧪 Testing & Coverage
# ===================================================
coverage/

# ===================================================
# 🧑‍💻 IDE & Editor Config Files
# ===================================================
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===================================================
# 💻 Operating System Files
# ===================================================
.DS_Store
Thumbs.db
